main {
  height: 100vh;
  width: 100vw;
  background-color: #111;
  color: #fff;
  font-family: 'Lato', sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 5fr;
      grid-template-rows: 3fr 5fr;
}

.highlight {
  color: #ffb400;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
  text-transform: uppercase;
}

.intro .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  font-size: 1.2rem;
}

.intro .content .picture {
  display: none;
}

.intro .content h1 {
  font-size: 2rem;
  font-weight: 900;
}

.intro .content h2 {
  font-size: 1.5rem;
  font-weight: 900;
}

.intro .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  font-size: 1.4rem;
  text-align: center;
}

.intro .socials__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.intro .socials__item:hover {
  color: #ffb400;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.container {
  position: relative;
  padding: 1rem;
}

.container .nav {
  height: 100%;
  -webkit-transition: height 0.6s;
  transition: height 0.6s;
  text-transform: uppercase;
}

.container .nav .menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 900;
}

.container .nav .menu__item {
  background-color: #222;
}

.container .nav .menu__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .nav .menu__item a:hover {
  background-color: #333;
}

.container .nav .menu__item a:hover .highlight {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  color: #fff;
}

.container .myprojects,
.container .aboutme,
.container .getintouch {
  position: absolute;
  padding: 1rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #222;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow: hidden;
}

.container .myprojects h2,
.container .aboutme h2,
.container .getintouch h2 {
  font-size: 1.4rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.container .myprojects .separator,
.container .aboutme .separator,
.container .getintouch .separator {
  text-align: center;
}

.container .myprojects .separator .line,
.container .aboutme .separator .line,
.container .getintouch .separator .line {
  width: 30%;
  height: 0;
  border: 1px solid rgba(255, 180, 0, 0.2);
  display: inline-block;
  margin: 0.2rem;
}

.container .myprojects .content,
.container .aboutme .content,
.container .getintouch .content {
  border: 1px solid red;
  margin: 1rem 0;
  height: calc(100% - 4rem);
}

.container .myprojects__grid {
  height: 100%;
  overflow: scroll;
}

.container .myprojects__grid__item {
  width: 100%;
  height: 100%;
  border: 2px solid blue;
}

.container .aboutme__intro {
  padding: 1rem 0;
}

.container .aboutme__skills h3 {
  color: red;
}

.container .aboutme__skills .skills {
  background-color: red;
}

.container .aboutme__skills .skills__item {
  color: gray;
}

.container .getintouch .message-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .getintouch .message-form__input {
  background-color: #111;
  color: #fff;
  border: none;
  border-bottom: 1px solid rgba(255, 180, 0, 0.2);
  margin: 0.2rem 0;
  padding: 0.6rem;
  font-size: 0.8rem;
}

.container .getintouch .message-form .textarea {
  font-size: 0.8rem;
  resize: vertical;
}

.container .getintouch .message-form__submit {
  background-color: #ffb400;
  border: none;
  margin-top: 0.5rem;
  padding: 0.6rem;
  cursor: pointer;
}

.container .close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.4rem;
  border: none;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  color: #ffb400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .close-button:hover {
  color: #fff;
}

.container .hidden {
  height: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

/* Media Queries */
@media screen and (min-width: 992px) {
  main {
    -ms-grid-rows: none;
        grid-template-rows: none;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .intro .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro .content .picture {
    display: block;
    margin: -3rem 0 2rem;
    width: 150px;
    border-radius: 50%;
  }
  .intro .content h1 {
    margin: 0.6rem 0 2rem;
  }
  .intro .socials {
    margin-top: auto;
  }
  .container .nav .menu {
    font-size: 1.8rem;
  }
  .container .close-button {
    font-size: 2rem;
  }
  .container .myprojects__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    overflow: hidden;
  }
}
/*# sourceMappingURL=styles.css.map */