$color-bg-primary: #111;
$color-bg-secondary: #222;
$color-font-primary: #fff;
$color-font-secondary: #ffb400;
$color-font-secondary-transparent: rgba(255, 180, 0, 0.2);
$breakpoint-desktop: 992px;

main {
  height: 100vh;
  width: 100vw;
  background-color: $color-bg-primary;
  color: $color-font-primary;
  font-family: 'Lato', sans-serif;
  display: grid;
  grid-template-rows: 3fr 5fr;
}

.highlight {
  color: $color-font-secondary;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  text-transform: uppercase;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 100%;
    font-size: 1.2rem;

    .picture {
      display: none;
    }

    h1 {
      font-size: 2rem;
      font-weight: 900;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 900;
    }
  }

  .socials {
    display: flex;
    width: 60%;
    font-size: 1.4rem;
    text-align: center;

    &__item {
      flex: 1;
      transition-duration: 0.5s;
    }

    &__item:hover {
      color: $color-font-secondary;
      transform: scale(1.5);
      transition-duration: 0.5s;
    }
  }
}

.container {
  position: relative;
  padding: 1rem;

  .nav {
    height: 100%;
    transition: height 0.6s;
    text-transform: uppercase;

    .menu {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 1rem;
      height: 100%;
      font-size: 1.2rem;
      font-weight: 900;

      &__item {
        background-color: $color-bg-secondary;

        a {
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: center;
        }

        a:hover {
          .highlight {
            transform: rotateX(360deg);
            transition-duration: 1s;
            color: $color-font-primary;
          }

          background-color: #333;
        }
      }
    }
  }

  .myprojects,
  .aboutme,
  .getintouch {
    position: absolute;
    padding: 1rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: $color-bg-secondary;
    transition: 0.6s;
    overflow: hidden;

    h2 {
      font-size: 1.4rem;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }

    .separator {
      text-align: center;

      .line {
        width: 30%;
        height: 0;
        border: 1px solid $color-font-secondary-transparent;
        display: inline-block;
        margin: 0.2rem;
      }
    }
  }

  .getintouch {
    .message-form {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;

      &__input {
        background-color: $color-bg-primary;
        color: $color-font-primary;
        border: none;
        border-bottom: 1px solid $color-font-secondary-transparent;
        margin: 0.2rem 0;
        padding: 0.6rem;
        font-size: 0.8rem;
      }

      .textarea {
        font-size: 0.8rem;
        resize: vertical;
      }

      &__submit {
        background-color: $color-font-secondary;
        border: none;
        margin-top: 0.5rem;
        padding: 0.6rem;
        cursor: pointer;
      }
    }
  }

  .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.4rem;
    border: none;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    color: $color-font-secondary;
    transition: 0.5s;

    &:hover {
      color: $color-font-primary;
    }
  }

  .hidden {
    height: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    transition: 0.6s;
  }
}

/* Media Queries */

@media screen and (min-width: $breakpoint-desktop) {
  main {
    grid-template-rows: none;
    grid-template-columns: 1fr 2fr;
  }

  .intro {
    .content {
      justify-content: center;

      .picture {
        display: block;
        margin: -3rem 0 2rem;
        width: 150px;
        border-radius: 50%;
      }

      h1 {
        margin: 0.6rem 0 2rem;
      }
    }

    .socials {
      margin-top: auto;
    }
  }

  .container {
    .nav {
      .menu {
        font-size: 1.8rem;
      }
    }

    .close-button {
      font-size: 2rem;
    }
  }
}
